<div>
  <md-toolbar color="primary">
    <span><md-icon>pets</md-icon></span>

    <span>Beast Treatment!</span>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Settings</button>
    <button md-menu-item>Blah</button>
    <button md-menu-item>About</button>
  </md-menu>

  <md-tab-group>
    <md-tab label="Animals">
      <h1>List of Animals</h1>
      <my-animals></my-animals>
    </md-tab>

    <md-tab label="People">
      <h1>List of People</h1>
      <p>Customers, Vets, Yard Managers, Therapists, Farriers, ....</p>
      <p>Will be a list of people filtered by type.</p>
      <p>This tab might just have customers.. Another tab for all other types of people. (A person could be in both lists)</p>
    </md-tab>

    <md-tab label="Locations">
      <h1>List of Locations</h1>
      <p>Places associated with Animals or People</p>
      <p>Could be a yard, a billing address, a business address, etc</p>
      <md-card>
        <h1>Lists might be put onto 'cards' (like this) that can be shown on screen at the same time</h1>
        <p>ie. Animals next to People. Might just put a detail area on the right and display detail of whatever list item is highlighted on the left</p>
        <p>This is some buttons</p>
        <button md-button>All</button>
        <button md-raised-button>Of</button>
        <button md-raised-button color="primary">The</button>
        <button md-raised-button color="accent">Buttons</button>
      </md-card>
    </md-tab>

  </md-tab-group>

  <span class="done">
    <button md-fab>
      <md-icon>check circle</md-icon>
    </button>
  </span>
</div>

<!--
<div>
  <nav>
    <a routerLink="/locations" routerLinkActive="active">Locations</a>
    <a routerLink="/animals" routerLinkActive="active">Animals</a>
  </nav>
  <router-outlet></router-outlet>
</div>
-->
